@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-display: swap;
  src: url('./Lato-Light.woff2'), url('./Lato-Light.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-display: swap;
  src: url('./Lato-Regular.woff2'), url('./Lato-Regular.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-display: swap;
  src: url('./Lato-Bold.woff2'), url('./Lato-Bold.woff');
}

@font-face {
  font-family: 'JosefinSans';
  font-weight: 300;
  font-display: swap;
  src: url('./JosefinSans-Light.woff2'), url('./JosefinSans-Light.woff');
}

@font-face {
  font-family: 'JosefinSans';
  font-weight: 400;
  font-display: swap;
  src: url('./JosefinSans-Regular.woff2'), url('./JosefinSans-Regular.woff');
}

@font-face {
  font-family: 'JosefinSans';
  font-weight: 500;
  font-display: swap;
  src: url('./JosefinSans-Medium.woff2'), url('./JosefinSans-Medium.woff');
}

@font-face {
  font-family: 'JosefinSans';
  font-weight: 600;
  font-display: swap;
  src: url('./JosefinSans-SemiBold.woff2'), url('./JosefinSans-SemiBold.woff');
}

@font-face {
  font-family: 'JosefinSans';
  font-weight: 700;
  font-display: swap;
  src: url('./JosefinSans-Bold.woff2'), url('./JosefinSans-Bold.woff');
}
